<!DOCTYPE html>
<html lang="zh-cn">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="http://static.runoob.com/assets/foundation-icons/foundation-icons.css">
    <link rel="stylesheet" href="{% static "supervise/css/foundation.min.css" %}">
    <link rel="stylesheet" href="{% static "supervise/css/supervise.css" %}">
    <script src="{% static "supervise/js/jquery.min.js" %}"></script>
    <script src="{% static "supervise/js/foundation.min.js" %}"></script>
    <script src="{% static "supervise/js/modernizr.js" %}"></script>

    <style>
        .row {
            max-width: 100%;
        }
    </style>
    <title>首页</title>
</head>
<body class="main">
<div class="container">
    <div class="row">
        <div class="medium-10 columns small-centered">
            <div class="row">
                <div class="medium-4 columns show-for-large-up">
                    <a href="{% url 'index' %}" class="th radius">
                        <img src="{% static 'supervise/images/main_icon.png' %}" alt="easyhome" width="200">
                    </a>
                </div>
                <div class="medium-8 columns">
                    <div class="row">
                        <div class="medium-1 columns"></div>
                        <div class="medium-11 columns">
                            <div style="text-align: right">
                                <br/><br/><br/>
                                {% if user.is_authenticated %}
                                    你已登录，欢迎你: <i class="fi-torso"></i><a href="#"> {{ user.username }} </a>
                                    <span>&nbsp;</span>
                                    <a href="{% url 'logout' %}?next={{ request.path }}" class="button tiny"
                                       role="button">注销登录</a><span>&nbsp;&</span>
                                    <a href="{% url 'password_change' %}?next={{ request.path }}"
                                       class="button tiny"
                                       role="button">修改密码</a>

                                {% else %}
                                    你还未登录，请
                                    <a href="{% url 'login' %}?next={{ request.path }} " class="button tiny"
                                       role="button">登录</a>
                                    或者
                                    <a href="{% url 'supervise:register' %}" class="button tiny"
                                       role="button">注册</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns small-centered">
                    <div class="sticky">
                        <nav class="top-bar" data-topbar>
                            <ul class="title-area">
                                <li class="name">
                                    <!-- 如果你不需要标题或图标可以删掉它 -->
                                    <h1><a href="#">EasyHome</a></h1>
                                </li>
                                <!-- 小屏幕上折叠按钮: 去掉 .menu-icon 类，可以去除图标。
                                     如果需要只显示图片，可以删除 "Menu" 文本 -->
                                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                            </ul>
                            <section class="top-bar-section">
                                <ul class="right">
                                    <li class="{% block mainHomeActive %}{% endblock mainHomeActive %}"><a
                                            href="{% url 'index' %}"><i class="fi-home"></i> 主页</a></li>
                                    <li class="divider"></li>
                                    {% if user.is_authenticated %}
                                        <li class="{% block modelActive %}{% endblock modelActive %}"><a
                                                href="{% url 'design:listModel' user.id %}"><i
                                                class="fi-list-thumbnails"></i> 模型管理</a></li>
                                        <li class="divider"></li>
                                        <li class="{% block textureActive %}{% endblock textureActive %}"><a
                                                href="{% url 'design:listTexture' user.id %}"><i
                                                class="fi-graph-bar"></i> 纹理管理</a></li>
                                        <li class="divider"></li>
                                        <li class="{% block workActive %}{% endblock workActive %}"><a
                                                href="{% url 'design:listWork' user.id %}"><i class="fi-camera"></i>
                                            作品管理</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="{% block myinfoActive %}{% endblock myinfoActive %}"><a
                                                href="{% url 'supervise:myinfo' user.id %}"><i class="fi-torso"></i>
                                            我的信息</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="{% url 'community:index' user.id %}"><i class="fi-torsos-all"></i>
                                            家装社区</a>
                                        </li>
                                    {% else %}
                                        <li><a href="{% url 'community:indexT' %}"><i class="fi-torsos-all"></i>
                                            家装社区</a>
                                        </li>
                                    {% endif %}

                                </ul>
                            </section>
                        </nav>
                    </div>
                </div>
            </div>
            {% block main %}
            {% endblock main %}
            <div class="row">
                <div class="medium-4 columns small-centered">
                    {% if is_paginated %}
                        <div class="pagination">
                            {% if first %}
                                <a href="?page=1">1</a>
                            {% endif %}
                            {% if left %}
                                {% if left_has_more %}
                                    <span>...</span>
                                {% endif %}
                                {% for i in left %}
                                    <a href="?page={{ i }}">{{ i }}</a>
                                {% endfor %}
                            {% endif %}
                            <a class="current-page" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                            {% if right %}
                                {% for i in right %}
                                    <a href="?page={{ i }}">{{ i }}</a>
                                {% endfor %}
                                {% if right_has_more %}
                                    <span>...</span>
                                {% endif %}
                            {% endif %}
                            {% if last %}
                                <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="medium-8 columns small-centered">
                <p class="copyright">&copy 2018 - from <a href="https://github.com/hdhyy/EasyHome" target="_blank"
                                                          title="easyhome">easyhome</a>
                    -- By <a href="https://github.com/hdhyy" title="template" target="_blank"> Hua Di </a>modify
                </p>
            </div>
        </div>
    </div>
</footer>

<script>
    $(document).ready(function () {
        $(document).foundation();
    })
</script>
{% block jsfiles %}
{% endblock jsfiles %}
</body>
</html>