{% extends 'base.html' %}
{% load static %}
{% block main %}
    <div class="row">
        <div class="medium-12 columns">
            <div id="designentrance">
                <div class="row">
                    <div class="medium-2 columns small-centered">
                        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                        <button class="button large expand radius" data-reveal-id="myModal">
                            设计我的家居
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="reveal-modal" data-reveal>
        <h2>基本设置</h2>
        <p>户型选择</p>
        
        <p>灯光模式</p>
        <a href="{% url 'design:designface' %}" class="button" role="button">
            进入设计
        </a>
        </button>
        <a class="close-reveal-modal">&times;</a>
    </div>

{% endblock main %}