{% extends 'base.html' %}
{% load static %}
{% block main %}
    <div class="row">
        <div class="medium-12 columns">
            <div id="designentrance">
                <div class="row">
                    <div class="medium-2 columns small-centered">
                        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                        <button class="button large expand radius" data-reveal-id="myModal">
                            设计我的家居
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="reveal-modal" data-reveal>
        <h2>基本设置</h2>
        <p>户型选择</p>
        <select id="indoortype_selection">
            {% for indoortype in indoortype_list %}
                <option class="{{ indoortype.id }}" value="{{ indoortype.file.url }}">{{ indoortype.name }}</option>
            {% endfor %}
        </select>

        <span id="indoortype_display"><canvas width="940" height="400"></canvas></span>

        <div class="medium-12 small-centered">
            <div class="row">
                <div class="medium-2 columns small-centered">
                    <br/>
                    <button class="button small" onclick="enterDesign()">进入设计</button>
                </div>
            </div>
        </div>

        </button>
        <a class="close-reveal-modal">&times;</a>
    </div>

{% endblock main %}

{% block jsfiles %}
    <script src="{% static 'design/js/three.js' %}"></script>
    <script src="{% static 'design/js/controls/TrackballControls.js' %}"></script>
    <script src="{% static 'design/myjs/jsonloaderapp.js' %}"></script>
    <script>
        function enterDesign() {
            var selection = document.getElementById("indoortype_selection");
            var index = selection.selectedIndex;
            var id = selection.options[index].className;
            var designurl = "{% url 'design:designface' pk=0%}";
            window.location.href = designurl.replace("0", id);
        }

        var apps = [];
        $("#indoortype_selection").change(function () {
            var selection = document.getElementById("indoortype_selection");
            var url = selection.value;
            var index = selection.selectedIndex;
            var span = document.getElementById("indoortype_display");
            var childs = span.childNodes;
            for (var i = 0; i < childs.length; i++) {
                span.removeChild(childs[i]);
            }
            var canvas = document.createElement('canvas');
            canvas.width = 940;
            canvas.height = 400;
            span.appendChild(canvas);
            apps[index] = new objloaderapp(canvas, url);
            var resizeWindow = function () {
                apps[index].resizeDisplayGL();
            };
            var render = function () {
                requestAnimationFrame(render);
                apps[index].render();
            };
            window.addEventListener('resize', resizeWindow, false);
            apps[index].initThree();
            apps[index].initScene();
            apps[index].initCamera();
            apps[index].initHelper();
            apps[index].initControls();
            apps[index].resizeDisplayGL();
            apps[index].initContent();
            render();
        });
    </script>
{% endblock jsfiles %}