body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:415px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1144 {
  position:absolute;
  left:44px;
  top:41px;
  width:406px;
  height:415px;
}
#u1145 {
  position:absolute;
  left:2px;
  top:200px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:170px;
}
#u1146 {
  position:absolute;
  left:72px;
  top:63px;
  width:350px;
  height:170px;
}
#u1147 {
  position:absolute;
  left:2px;
  top:77px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1148 {
  position:absolute;
  left:180px;
  top:252px;
  width:241px;
  height:25px;
}
#u1148_input {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1149 {
  position:absolute;
  left:72px;
  top:254px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1150 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1151 {
  position:absolute;
  left:180px;
  top:409px;
  width:241px;
  height:29px;
}
#u1152 {
  position:absolute;
  left:2px;
  top:6px;
  width:237px;
  word-wrap:break-word;
}
#u1153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1153 {
  position:absolute;
  left:72px;
  top:294px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1154 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1155 {
  position:absolute;
  left:180px;
  top:294px;
  width:241px;
  height:98px;
}
#u1155_input {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:98px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
