{% extends 'base.html' %}

{% block main %}
    <div class="row">
        <div class="medium-12 columns">
            <div class="row">
                <div class="medium-6 columns">
                    <img src="/{{ form.avatar.url }}" />
                    <form action="{% url 'supervise:myinfo' user.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                        {{ form.as_table }}
                        <input type="submit" value="提交" class="button"/>
                    </form>
                </div>
                <div class="medium-6 columns">

                </div>
            </div>
        </div>

    </div>
{% endblock main %}