{% extends 'registration/base.html' %}

{% block title %}登录{% endblock title %}

{% block bodyclass %}login{% endblock bodyclass %}

{% block main %}
    <style>
        label {
            color:white;
        }
    </style>
    {% load static %}
    <div class="unit-1-2 unit-1-on-mobile">
        <br/><br/><br/><br/>
        <div class="flex-center">
            <img src="{% static 'supervise/images/white_icon.png' %}">
        </div>
        <div class="flex-center">
            <h1>您的新一代设计助手</h1>
        </div>
        <div class="flex-center">
            <h3>登录</h3>
        </div>
        <form class="form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                {% if field.help_text %}
                    <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block">登录</button>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
        <div class="flex-left top-gap text-small">
            <div class="unit-2-3"><span>没有账号？<a href="{% url 'supervise:register' %}">立即注册</a></span></div>
            <div class="unit-1-3 flex-right"><span><a href="{% url 'password_reset' %}">忘记密码？</a></span></div>
        </div>
    </div>
{% endblock main %}