body {
  margin:0px;
  background-image:url('../../images/usermanage/bg.PNG');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
  position:static;
  left:auto;
  width:1744px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:123px;
}
#u860 {
  position:absolute;
  left:200px;
  top:50px;
  width:123px;
  height:123px;
}
#u861 {
  position:absolute;
  left:2px;
  top:54px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u862 {
  position:absolute;
  left:323px;
  top:123px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u863 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u864 {
  position:absolute;
  left:200px;
  top:173px;
  width:188px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u865 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u866 {
  position:absolute;
  left:670px;
  top:100px;
  width:661px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u867 {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  word-wrap:break-word;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u868 {
  position:absolute;
  left:1570px;
  top:120px;
  width:174px;
  height:50px;
  font-size:18px;
}
#u869 {
  position:absolute;
  left:2px;
  top:14px;
  width:170px;
  word-wrap:break-word;
}
#u871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
}
#u871 {
  position:absolute;
  left:200px;
  top:300px;
  width:200px;
  height:62px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u872 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
}
#u873 {
  position:absolute;
  left:200px;
  top:420px;
  width:200px;
  height:62px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u874 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
}
#u875 {
  position:absolute;
  left:200px;
  top:540px;
  width:200px;
  height:62px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u876 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:62px;
}
#u877 {
  position:absolute;
  left:200px;
  top:660px;
  width:200px;
  height:62px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u878 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u879 {
  position:absolute;
  left:475px;
  top:300px;
  width:1273px;
  height:514px;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u880 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u881 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  word-wrap:break-word;
}
#u882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u882 {
  position:absolute;
  left:139px;
  top:0px;
  width:139px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u883 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  word-wrap:break-word;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u884 {
  position:absolute;
  left:278px;
  top:0px;
  width:253px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u885 {
  position:absolute;
  left:2px;
  top:7px;
  width:249px;
  word-wrap:break-word;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u886 {
  position:absolute;
  left:531px;
  top:0px;
  width:182px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u887 {
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  word-wrap:break-word;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u888 {
  position:absolute;
  left:713px;
  top:0px;
  width:165px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u889 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u890 {
  position:absolute;
  left:878px;
  top:0px;
  width:165px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u891 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u892 {
  position:absolute;
  left:1043px;
  top:0px;
  width:225px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u893 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u894 {
  position:absolute;
  left:0px;
  top:30px;
  width:139px;
  height:30px;
}
#u895 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u896 {
  position:absolute;
  left:139px;
  top:30px;
  width:139px;
  height:30px;
}
#u897 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u898 {
  position:absolute;
  left:278px;
  top:30px;
  width:253px;
  height:30px;
}
#u899 {
  position:absolute;
  left:2px;
  top:7px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u900 {
  position:absolute;
  left:531px;
  top:30px;
  width:182px;
  height:30px;
}
#u901 {
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u902 {
  position:absolute;
  left:713px;
  top:30px;
  width:165px;
  height:30px;
}
#u903 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u904 {
  position:absolute;
  left:878px;
  top:30px;
  width:165px;
  height:30px;
}
#u905 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u906 {
  position:absolute;
  left:1043px;
  top:30px;
  width:225px;
  height:30px;
}
#u907 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  word-wrap:break-word;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u908 {
  position:absolute;
  left:0px;
  top:60px;
  width:139px;
  height:30px;
}
#u909 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u910 {
  position:absolute;
  left:139px;
  top:60px;
  width:139px;
  height:30px;
}
#u911 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u912 {
  position:absolute;
  left:278px;
  top:60px;
  width:253px;
  height:30px;
}
#u913 {
  position:absolute;
  left:2px;
  top:7px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u914 {
  position:absolute;
  left:531px;
  top:60px;
  width:182px;
  height:30px;
}
#u915 {
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u916 {
  position:absolute;
  left:713px;
  top:60px;
  width:165px;
  height:30px;
}
#u917 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u918 {
  position:absolute;
  left:878px;
  top:60px;
  width:165px;
  height:30px;
}
#u919 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u920 {
  position:absolute;
  left:1043px;
  top:60px;
  width:225px;
  height:30px;
}
#u921 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u922 {
  position:absolute;
  left:0px;
  top:90px;
  width:139px;
  height:30px;
}
#u923 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u924 {
  position:absolute;
  left:139px;
  top:90px;
  width:139px;
  height:30px;
}
#u925 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u926 {
  position:absolute;
  left:278px;
  top:90px;
  width:253px;
  height:30px;
}
#u927 {
  position:absolute;
  left:2px;
  top:7px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u928 {
  position:absolute;
  left:531px;
  top:90px;
  width:182px;
  height:30px;
}
#u929 {
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u930 {
  position:absolute;
  left:713px;
  top:90px;
  width:165px;
  height:30px;
}
#u931 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u932 {
  position:absolute;
  left:878px;
  top:90px;
  width:165px;
  height:30px;
}
#u933 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u934 {
  position:absolute;
  left:1043px;
  top:90px;
  width:225px;
  height:30px;
}
#u935 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u936 {
  position:absolute;
  left:0px;
  top:120px;
  width:139px;
  height:30px;
}
#u937 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u938 {
  position:absolute;
  left:139px;
  top:120px;
  width:139px;
  height:30px;
}
#u939 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u940 {
  position:absolute;
  left:278px;
  top:120px;
  width:253px;
  height:30px;
}
#u941 {
  position:absolute;
  left:2px;
  top:7px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u942 {
  position:absolute;
  left:531px;
  top:120px;
  width:182px;
  height:30px;
}
#u943 {
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u944 {
  position:absolute;
  left:713px;
  top:120px;
  width:165px;
  height:30px;
}
#u945 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u946 {
  position:absolute;
  left:878px;
  top:120px;
  width:165px;
  height:30px;
}
#u947 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u948 {
  position:absolute;
  left:1043px;
  top:120px;
  width:225px;
  height:30px;
}
#u949 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u950 {
  position:absolute;
  left:0px;
  top:150px;
  width:139px;
  height:30px;
}
#u951 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u952 {
  position:absolute;
  left:139px;
  top:150px;
  width:139px;
  height:30px;
}
#u953 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u954 {
  position:absolute;
  left:278px;
  top:150px;
  width:253px;
  height:30px;
}
#u955 {
  position:absolute;
  left:2px;
  top:7px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u956 {
  position:absolute;
  left:531px;
  top:150px;
  width:182px;
  height:30px;
}
#u957 {
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u958 {
  position:absolute;
  left:713px;
  top:150px;
  width:165px;
  height:30px;
}
#u959 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u960 {
  position:absolute;
  left:878px;
  top:150px;
  width:165px;
  height:30px;
}
#u961 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u962 {
  position:absolute;
  left:1043px;
  top:150px;
  width:225px;
  height:30px;
}
#u963 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u964 {
  position:absolute;
  left:0px;
  top:180px;
  width:139px;
  height:30px;
}
#u965 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u966 {
  position:absolute;
  left:139px;
  top:180px;
  width:139px;
  height:30px;
}
#u967 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u968 {
  position:absolute;
  left:278px;
  top:180px;
  width:253px;
  height:30px;
}
#u969 {
  position:absolute;
  left:2px;
  top:7px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u970 {
  position:absolute;
  left:531px;
  top:180px;
  width:182px;
  height:30px;
}
#u971 {
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u972 {
  position:absolute;
  left:713px;
  top:180px;
  width:165px;
  height:30px;
}
#u973 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u974 {
  position:absolute;
  left:878px;
  top:180px;
  width:165px;
  height:30px;
}
#u975 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u976 {
  position:absolute;
  left:1043px;
  top:180px;
  width:225px;
  height:30px;
}
#u977 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u978 {
  position:absolute;
  left:0px;
  top:210px;
  width:139px;
  height:30px;
}
#u979 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u980 {
  position:absolute;
  left:139px;
  top:210px;
  width:139px;
  height:30px;
}
#u981 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u982 {
  position:absolute;
  left:278px;
  top:210px;
  width:253px;
  height:30px;
}
#u983 {
  position:absolute;
  left:2px;
  top:7px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u984 {
  position:absolute;
  left:531px;
  top:210px;
  width:182px;
  height:30px;
}
#u985 {
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u986 {
  position:absolute;
  left:713px;
  top:210px;
  width:165px;
  height:30px;
}
#u987 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u988 {
  position:absolute;
  left:878px;
  top:210px;
  width:165px;
  height:30px;
}
#u989 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u990 {
  position:absolute;
  left:1043px;
  top:210px;
  width:225px;
  height:30px;
}
#u991 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u992 {
  position:absolute;
  left:0px;
  top:240px;
  width:139px;
  height:30px;
}
#u993 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u994 {
  position:absolute;
  left:139px;
  top:240px;
  width:139px;
  height:30px;
}
#u995 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u996 {
  position:absolute;
  left:278px;
  top:240px;
  width:253px;
  height:30px;
}
#u997 {
  position:absolute;
  left:2px;
  top:7px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u998 {
  position:absolute;
  left:531px;
  top:240px;
  width:182px;
  height:30px;
}
#u999 {
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u1000 {
  position:absolute;
  left:713px;
  top:240px;
  width:165px;
  height:30px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u1002 {
  position:absolute;
  left:878px;
  top:240px;
  width:165px;
  height:30px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u1004 {
  position:absolute;
  left:1043px;
  top:240px;
  width:225px;
  height:30px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u1006 {
  position:absolute;
  left:0px;
  top:270px;
  width:139px;
  height:30px;
}
#u1007 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u1008 {
  position:absolute;
  left:139px;
  top:270px;
  width:139px;
  height:30px;
}
#u1009 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u1010 {
  position:absolute;
  left:278px;
  top:270px;
  width:253px;
  height:30px;
}
#u1011 {
  position:absolute;
  left:2px;
  top:7px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u1012 {
  position:absolute;
  left:531px;
  top:270px;
  width:182px;
  height:30px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u1014 {
  position:absolute;
  left:713px;
  top:270px;
  width:165px;
  height:30px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u1016 {
  position:absolute;
  left:878px;
  top:270px;
  width:165px;
  height:30px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u1018 {
  position:absolute;
  left:1043px;
  top:270px;
  width:225px;
  height:30px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u1020 {
  position:absolute;
  left:0px;
  top:300px;
  width:139px;
  height:30px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u1022 {
  position:absolute;
  left:139px;
  top:300px;
  width:139px;
  height:30px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u1024 {
  position:absolute;
  left:278px;
  top:300px;
  width:253px;
  height:30px;
}
#u1025 {
  position:absolute;
  left:2px;
  top:7px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u1026 {
  position:absolute;
  left:531px;
  top:300px;
  width:182px;
  height:30px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u1028 {
  position:absolute;
  left:713px;
  top:300px;
  width:165px;
  height:30px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u1030 {
  position:absolute;
  left:878px;
  top:300px;
  width:165px;
  height:30px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u1032 {
  position:absolute;
  left:1043px;
  top:300px;
  width:225px;
  height:30px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u1034 {
  position:absolute;
  left:0px;
  top:330px;
  width:139px;
  height:30px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u1036 {
  position:absolute;
  left:139px;
  top:330px;
  width:139px;
  height:30px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u1038 {
  position:absolute;
  left:278px;
  top:330px;
  width:253px;
  height:30px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:7px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u1040 {
  position:absolute;
  left:531px;
  top:330px;
  width:182px;
  height:30px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u1042 {
  position:absolute;
  left:713px;
  top:330px;
  width:165px;
  height:30px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u1044 {
  position:absolute;
  left:878px;
  top:330px;
  width:165px;
  height:30px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u1046 {
  position:absolute;
  left:1043px;
  top:330px;
  width:225px;
  height:30px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u1048 {
  position:absolute;
  left:0px;
  top:360px;
  width:139px;
  height:30px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u1050 {
  position:absolute;
  left:139px;
  top:360px;
  width:139px;
  height:30px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u1052 {
  position:absolute;
  left:278px;
  top:360px;
  width:253px;
  height:30px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:7px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u1054 {
  position:absolute;
  left:531px;
  top:360px;
  width:182px;
  height:30px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u1056 {
  position:absolute;
  left:713px;
  top:360px;
  width:165px;
  height:30px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u1058 {
  position:absolute;
  left:878px;
  top:360px;
  width:165px;
  height:30px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u1060 {
  position:absolute;
  left:1043px;
  top:360px;
  width:225px;
  height:30px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:29px;
}
#u1062 {
  position:absolute;
  left:0px;
  top:390px;
  width:139px;
  height:29px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:29px;
}
#u1064 {
  position:absolute;
  left:139px;
  top:390px;
  width:139px;
  height:29px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:29px;
}
#u1066 {
  position:absolute;
  left:278px;
  top:390px;
  width:253px;
  height:29px;
}
#u1067 {
  position:absolute;
  left:2px;
  top:6px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:29px;
}
#u1068 {
  position:absolute;
  left:531px;
  top:390px;
  width:182px;
  height:29px;
}
#u1069 {
  position:absolute;
  left:2px;
  top:6px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:29px;
}
#u1070 {
  position:absolute;
  left:713px;
  top:390px;
  width:165px;
  height:29px;
}
#u1071 {
  position:absolute;
  left:2px;
  top:6px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:29px;
}
#u1072 {
  position:absolute;
  left:878px;
  top:390px;
  width:165px;
  height:29px;
}
#u1073 {
  position:absolute;
  left:2px;
  top:6px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:29px;
}
#u1074 {
  position:absolute;
  left:1043px;
  top:390px;
  width:225px;
  height:29px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:6px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u1076 {
  position:absolute;
  left:0px;
  top:419px;
  width:139px;
  height:30px;
}
#u1077 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u1078 {
  position:absolute;
  left:139px;
  top:419px;
  width:139px;
  height:30px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u1080 {
  position:absolute;
  left:278px;
  top:419px;
  width:253px;
  height:30px;
}
#u1081 {
  position:absolute;
  left:2px;
  top:7px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u1082 {
  position:absolute;
  left:531px;
  top:419px;
  width:182px;
  height:30px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u1084 {
  position:absolute;
  left:713px;
  top:419px;
  width:165px;
  height:30px;
}
#u1085 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u1086 {
  position:absolute;
  left:878px;
  top:419px;
  width:165px;
  height:30px;
}
#u1087 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u1088 {
  position:absolute;
  left:1043px;
  top:419px;
  width:225px;
  height:30px;
}
#u1089 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u1090 {
  position:absolute;
  left:0px;
  top:449px;
  width:139px;
  height:30px;
}
#u1091 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u1092 {
  position:absolute;
  left:139px;
  top:449px;
  width:139px;
  height:30px;
}
#u1093 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u1094 {
  position:absolute;
  left:278px;
  top:449px;
  width:253px;
  height:30px;
}
#u1095 {
  position:absolute;
  left:2px;
  top:7px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u1096 {
  position:absolute;
  left:531px;
  top:449px;
  width:182px;
  height:30px;
}
#u1097 {
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u1098 {
  position:absolute;
  left:713px;
  top:449px;
  width:165px;
  height:30px;
}
#u1099 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u1100 {
  position:absolute;
  left:878px;
  top:449px;
  width:165px;
  height:30px;
}
#u1101 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u1102 {
  position:absolute;
  left:1043px;
  top:449px;
  width:225px;
  height:30px;
}
#u1103 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u1104 {
  position:absolute;
  left:0px;
  top:479px;
  width:139px;
  height:30px;
}
#u1105 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u1106 {
  position:absolute;
  left:139px;
  top:479px;
  width:139px;
  height:30px;
}
#u1107 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u1108 {
  position:absolute;
  left:278px;
  top:479px;
  width:253px;
  height:30px;
}
#u1109 {
  position:absolute;
  left:2px;
  top:7px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:30px;
}
#u1110 {
  position:absolute;
  left:531px;
  top:479px;
  width:182px;
  height:30px;
}
#u1111 {
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u1112 {
  position:absolute;
  left:713px;
  top:479px;
  width:165px;
  height:30px;
}
#u1113 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u1114 {
  position:absolute;
  left:878px;
  top:479px;
  width:165px;
  height:30px;
}
#u1115 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
}
#u1116 {
  position:absolute;
  left:1043px;
  top:479px;
  width:225px;
  height:30px;
}
#u1117 {
  position:absolute;
  left:2px;
  top:7px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1119 {
  position:absolute;
  left:846px;
  top:943px;
  width:233px;
  height:17px;
}
#u1120 {
  position:absolute;
  left:2px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u1121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1121 {
  position:absolute;
  left:811px;
  top:900px;
  width:322px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1122 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  word-wrap:break-word;
}
#u1123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1123 {
  position:absolute;
  left:475px;
  top:261px;
  width:89px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1124 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1126 {
  position:absolute;
  left:1455px;
  top:837px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1127 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1128 {
  position:absolute;
  left:1343px;
  top:839px;
  width:93px;
  height:28px;
  font-size:20px;
}
#u1129 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u1130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1130 {
  position:absolute;
  left:1522px;
  top:839px;
  width:92px;
  height:28px;
  font-size:20px;
}
#u1131 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u1132 {
  position:absolute;
  left:1624px;
  top:841px;
  width:67px;
  height:25px;
}
#u1132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1133 {
  position:absolute;
  left:1701px;
  top:841px;
  width:42px;
  height:25px;
}
#u1134 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
#u1136 {
  position:absolute;
  left:1296px;
  top:259px;
  width:139px;
  height:22px;
}
#u1136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1136_input:disabled {
  color:grayText;
}
#u1137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1137 {
  position:absolute;
  left:1248px;
  top:259px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1138 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u1139 {
  position:absolute;
  left:1522px;
  top:258px;
  width:140px;
  height:25px;
}
#u1139_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1140 {
  position:absolute;
  left:1449px;
  top:259px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1141 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1142 {
  position:absolute;
  left:1681px;
  top:258px;
  width:62px;
  height:25px;
}
#u1143 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
