<!DOCTYPE html>
<html lang="en">
	<head>
        {% load static %}
		<title>easyhome / editor</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	</head>
	<body ontouchstart="">
		<link href="{% static 'design/css/main.css' %}" rel="stylesheet" />
		<link id="theme" href="{% static 'design/css/light.css' %}" rel="stylesheet" />

		<script src="{% static 'design/js/three.js' %}"></script>
		<script src="{% static 'design/js/libs/system.min.js' %}"></script>

		<script src="{% static 'design/js/controls/EditorControls.js' %}"></script>
		<script src="{% static 'design/js/controls/TransformControls.js' %}"></script>

		<script src="{% static 'design/js/libs/jszip.min.js' %}"></script>
        <script src="{% static 'design/js/libs/inflate.min.js' %}"></script> <!-- FBX -->

		<script src="{% static 'design/js/loaders/AMFLoader.js'%}"></script>
		<script src="{% static 'design/js/loaders/AWDLoader.js' %}"></script>
		<script src="{% static 'design/js/loaders/BabylonLoader.js'%}"></script>
        <script src="{% static 'design/js/loaders/ColladaLoader.js'%}"></script>
        <script src="{% static 'design/js/loaders/FBXLoader.js'%}"></script>
        <script src="{% static 'design/js/loaders/GLTFLoader.js'%}"></script>
        <script src="{% static 'design/js/loaders/deprecated/LegacyGLTFLoader.js'%}"></script>
        <script src="{% static 'design/js/loaders/KMZLoader.js'%}"></script>
        <script src="{% static 'design/js/loaders/MD2Loader.js'%}"></script>
        <script src="{% static 'design/js/loaders/OBJLoader.js'%}"></script>
        <script src="{% static 'design/js/loaders/MTLLoader.js'%}"></script>
        <script src="{% static 'design/js/loaders/PlayCanvasLoader.js'%}"></script>
        <script src="{% static 'design/js/loaders/PLYLoader.js'%}"></script>
        <script src="{% static 'design/js/loaders/STLLoader.js'%}"></script>
        <script src="{% static 'design/js/loaders/TGALoader.js'%}"></script>
        <script src="{% static 'design/js/loaders/TDSLoader.js'%}"></script>
        <script src="{% static 'design/js/loaders/UTF8Loader.js'%}"></script>
        <script src="{% static 'design/js/loaders/VRMLLoader.js'%}"></script>
        <script src="{% static 'design/js/loaders/VTKLoader.js'%}"></script>
        <script src="{% static 'design/js/loaders/ctm/lzma.js'%}"></script>
        <script src="{% static 'design/js/loaders/ctm/ctm.js'%}"></script>
        <script src="{% static 'design/js/loaders/ctm/CTMLoader.js'%}"></script>
        <script src="{% static 'design/js/loaders/VTKLoader.js'%}"></script>
        <script src="{% static 'design/js/loaders/VTKLoader.js'%}"></script>
        <script src="{% static 'design/js/loaders/VTKLoader.js'%}"></script>
        <script src="{% static 'design/js/loaders/VTKLoader.js'%}"></script>
        <script src="{% static 'design/js/loaders/VTKLoader.js'%}"></script>

		<script src="{% static 'design/js/exporters/OBJExporter.js'%}"></script>
        <script src="{% static 'design/js/exporters/GLTFExporter.js'%}"></script>
		<script src="{% static 'design/js/exporters/STLExporter.js'%}"></script>

		<script src="{% static 'design/js/renderers/Projector.js' %}"></script>
        <script src="{% static 'design/js/renderers/CanvasRenderer.js' %}"></script>
		<script src="{% static 'design/js/renderers/RaytracingRenderer.js' %}"></script>
		<script src="{% static 'design/js/renderers/SoftwareRenderer.js' %}"></script>
		<script src="{% static 'design/js/renderers/SVGRenderer.js' %}"></script>

		<link rel="stylesheet" href="{% static 'design/css/codemirror/codemirror.css' %}">
		<link rel="stylesheet" href="{% static 'design/css/codemirror/theme/monokai.css' %}">
		<script src="{% static 'design/js/libs/codemirror/codemirror.js' %}"></script>
		<script src="{% static 'design/js/libs/codemirror/mode/javascript.js' %}"></script>
		<script src="{% static 'design/js/libs/codemirror/mode/glsl.js' %}"></script>

		<script src="{% static 'design/js/libs/esprima.js' %}"></script>
		<script src="{% static 'design/js/libs/jsonlint.js' %}"></script>
		<script src="{% static 'design/js/libs/glslprep.min.js' %}"></script>

		<link rel="stylesheet" href="{% static 'design/css/codemirror/addon/dialog.css' %}">
		<link rel="stylesheet" href="{% static 'design/css/codemirror/addon/show-hint.css' %}">
		<link rel="stylesheet" href="{% static 'design/css/codemirror/addon/tern.css' %}">
		<script src="{% static 'design/js/libs/codemirror/addon/dialog.js' %}"></script>
		<script src="{% static 'design/js/libs/codemirror/addon/show-hint.js' %}"></script>
		<script src="{% static 'design/js/libs/codemirror/addon/tern.js'%}"></script>
		<script src="{% static 'design/js/libs/acorn/acorn.js' %}"></script>
		<script src="{% static 'design/js/libs/acorn/acorn_loose.js' %}"></script>
		<script src="{% static 'design/js/libs/acorn/walk.js' %}"></script>
		<script src="{% static 'design/js/libs/ternjs/polyfill.js' %}"></script>
		<script src="{% static 'design/js/libs/ternjs/signal.js' %}"></script>
		<script src="{% static 'design/js/libs//ternjs/tern.js' %}"></script>
		<script src="{% static 'design/js/libs/ternjs/def.js' %}"></script>
		<script src="{% static 'design/js/libs/ternjs/comment.js' %}"></script>
		<script src="{% static 'design/js/libs/ternjs/infer.js' %}"></script>
		<script src="{% static 'design/js/libs/ternjs/doc_comment.js' %}"></script>
		<script src="{% static 'design/js/libs/tern-threejs/threejs.js' %}"></script>

		<script src="{% static 'design/js/libs/signals.min.js' %}"></script>
		<script src="{% static 'design/js/libs/ui.js' %}"></script>
		<script src="{% static 'design/js/libs/ui.three.js' %}"></script>

		<script src="{% static 'design/js/libs/app.js' %}"></script>
		<script src="{% static 'design/js/Player.js' %}"></script>
		<script src="{% static 'design/js/Script.js' %}"></script>

		<script src="{% static 'design/js/vr/WebVR.js' %}"></script>

		<script src="{% static 'design/js/Storage.js' %}"></script>

		<script src="{% static 'design/js/Editor.js'%}"></script>
		<script src="{% static 'design/js/Config.js' %}"></script>
		<script src="{% static 'design/js/History.js' %}"></script>
		<script src="{% static 'design/js/Loader.js' %}"></script>
		<script src="{% static 'design/js/Menubar.js' %}"></script>
		<script src="{% static 'design/js/Menubar.File.js' %}"></script>
		<script src="{% static 'design/js/Menubar.Edit.js' %}"></script>
		<script src="{% static 'design/js/Menubar.Add.js' %}"></script>
		<script src="{% static 'design/js/Menubar.Play.js' %}"></script>
		<!-- <script src="js/Menubar.View.js"></script> -->
		<script src="{% static 'design/js/Menubar.Examples.js' %}"></script>
		<script src="{% static 'design/js/Menubar.Help.js' %}"></script>
		<script src="{% static 'design/js/Menubar.Status.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.Scene.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.Project.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.Settings.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.Settings.Shortcuts.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.Settings.Viewport.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.Properties.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.Object.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.Geometry.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.Geometry.Geometry.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.Geometry.BufferGeometry.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.Geometry.Modifiers.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.Geometry.BoxGeometry.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.Geometry.CircleGeometry.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.Geometry.CylinderGeometry.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.Geometry.IcosahedronGeometry.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.Geometry.PlaneGeometry.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.Geometry.SphereGeometry.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.Geometry.TorusGeometry.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.Geometry.TorusKnotGeometry.js' %}"></script>
		<script src="{% static 'design/js/geometries/TeapotBufferGeometry.js'%}"></script>
		<script src="{% static 'design/js/Sidebar.Geometry.TeapotBufferGeometry.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.Geometry.LatheGeometry.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.Material.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.Animation.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.Script.js' %}"></script>
		<script src="{% static 'design/js/Sidebar.History.js' %}"></script>
		<script src="{% static 'design/js/Toolbar.js' %}"></script>
		<script src="{% static 'design/js/Viewport.js' %}"></script>
		<script src="{% static 'design/js/Viewport.Info.js' %}"></script>

		<script src="{% static 'design/js/Command.js' %}"></script>
		<script src="{% static 'design/js/commands/AddObjectCommand.js' %}"></script>
		<script src="{% static 'design/js/commands/RemoveObjectCommand.js'%}"></script>
		<script src="{% static 'design/js/commands/MoveObjectCommand.js' %}"></script>
		<script src="{% static 'design/js/commands/SetPositionCommand.js' %}"></script>
		<script src="{% static 'design/js/commands/SetRotationCommand.js' %}"></script>
		<script src="{% static 'design/js/commands/SetScaleCommand.js' %}"></script>
		<script src="{% static 'design/js/commands/SetValueCommand.js' %}"></script>
		<script src="{% static 'design/js/commands/SetUuidCommand.js' %}"></script>
		<script src="{% static 'design/js/commands/SetColorCommand.js' %}"></script>
		<script src="{% static 'design/js/commands/SetGeometryCommand.js' %}"></script>
		<script src="{% static 'design/js/commands/SetGeometryValueCommand.js' %}"></script>
		<script src="{% static 'design/js/commands/MultiCmdsCommand.js' %}"></script>
		<script src="{% static 'design/js/commands/AddScriptCommand.js' %}"></script>
		<script src="{% static 'design/js/commands/RemoveScriptCommand.js' %}"></script>
		<script src="{% static 'design/js/commands/SetScriptValueCommand.js' %}"></script>
		<script src="{% static 'design/js/commands/SetMaterialCommand.js'%}"></script>
		<script src="{% static 'design/js/commands/SetMaterialValueCommand.js' %}"></script>
		<script src="{% static 'design/js/commands/SetMaterialColorCommand.js' %}"></script>
		<script src="{% static 'design/js/commands/SetMaterialMapCommand.js' %}"></script>
		<script src="{% static 'design/js/commands/SetSceneCommand.js' %}"></script>

		<script src="{% static 'design/js/libs/html2canvas.js' %}"></script>
		<script src="{% static 'design/js/libs/three.html.js' %}"></script>

		<script>

			window.URL = window.URL || window.webkitURL;
			window.BlobBuilder = window.BlobBuilder || window.WebKitBlobBuilder || window.MozBlobBuilder;

			Number.prototype.format = function (){
				return this.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
			};

			//

			var editor = new Editor();

			var viewport = new Viewport( editor );
			document.body.appendChild( viewport.dom );

			var script = new Script( editor );
			document.body.appendChild( script.dom );

			var player = new Player( editor );
			document.body.appendChild( player.dom );

			var toolbar = new Toolbar( editor );
			document.body.appendChild( toolbar.dom );

			var menubar = new Menubar( editor );
			document.body.appendChild( menubar.dom );

			var sidebar = new Sidebar( editor );
			document.body.appendChild( sidebar.dom );

			var modal = new UI.Modal();
			document.body.appendChild( modal.dom );

			//

			editor.setTheme( editor.config.getKey( 'theme' ) );

			editor.storage.init( function () {

				editor.storage.get( function ( state ) {

					if ( isLoadingFromHash ) return;

					if ( state !== undefined ) {

						editor.fromJSON( state );

					}

					var selected = editor.config.getKey( 'selected' );

					if ( selected !== undefined ) {

						editor.selectByUuid( selected );

					}

				} );

				//
				var objectLoader = new THREE.ObjectLoader();
				objectLoader.load('{{ indoortype.file.url }}', function ( obj ) {
                    if ( obj instanceof THREE.Scene ) {
					    editor.execute( new SetSceneCommand( obj ) );
				    } else {
					    editor.execute( new AddObjectCommand( obj ) );
				    }
				} );
				var timeout;

				function saveState( scene ) {

					if ( editor.config.getKey( 'autosave' ) === false ) {

						return;

					}

					clearTimeout( timeout );

					timeout = setTimeout( function () {

						editor.signals.savingStarted.dispatch();

						timeout = setTimeout( function () {

							editor.storage.set( editor.toJSON() );

							editor.signals.savingFinished.dispatch();

						}, 100 );

					}, 1000 );

				};

				var signals = editor.signals;

				signals.geometryChanged.add( saveState );
				signals.objectAdded.add( saveState );
				signals.objectChanged.add( saveState );
				signals.objectRemoved.add( saveState );
				signals.materialChanged.add( saveState );
				signals.sceneBackgroundChanged.add( saveState );
				signals.sceneFogChanged.add( saveState );
				signals.sceneGraphChanged.add( saveState );
				signals.scriptChanged.add( saveState );
				signals.historyChanged.add( saveState );

				signals.showModal.add( function ( content ) {

					modal.show( content );

				} );

			} );

			//

			document.addEventListener( 'dragover', function ( event ) {

				event.preventDefault();
				event.dataTransfer.dropEffect = 'copy';

			}, false );

			document.addEventListener( 'drop', function ( event ) {

				event.preventDefault();

				if ( event.dataTransfer.files.length > 0 ) {

					editor.loader.loadFile( event.dataTransfer.files[ 0 ] );

				}

			}, false );

			function onWindowResize( event ) {

				editor.signals.windowResize.dispatch();

			}

			window.addEventListener( 'resize', onWindowResize, false );

			onWindowResize();

			//

			var isLoadingFromHash = false;
			var hash = window.location.hash;

			if ( hash.substr( 1, 5 ) === 'file=' ) {

				var file = hash.substr( 6 );

				if ( confirm( 'Any unsaved data will be lost. Are you sure?' ) ) {

					var loader = new THREE.FileLoader();
					loader.crossOrigin = '';
					loader.load( file, function ( text ) {

						editor.clear();
						editor.fromJSON( JSON.parse( text ) );

					} );

					isLoadingFromHash = true;

				}

			}

			/*
			window.addEventListener( 'message', function ( event ) {

				editor.clear();
				editor.fromJSON( event.data );

			}, false );
			*/

		</script>
	</body>
</html>
