{% extends 'base.html' %}

{% block main %}
    <div class="row">
        <div class="medium-12 columns">
            {% if model_list %}
                <ul class="small-block-grid-3">
                    {% for model in model_list %}
                        <li style="text-align: center">
                            <div id="{{ model.file.url }}" class="modeldisplay"></div>
                            <br/>
                            <a href="{% url 'design:seeModel' model.id %}">{{ model.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="row">
                    <div class="medium-4 columns small-centered">
                        No Models are available.You can add it by yourself.
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock main %}